body {
  background-color: #ACAFB8;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.register-form-container {
  width: 270px;
  border-radius: 3px;
  background-color: #272E38;
  padding: 20px;
  text-align: center;
}

.register-form-container header {
  background-color: #202731;
  color: #C5C6C8;
  padding: 1.5em;
  margin: -20px -20px 20px -20px;
  border-radius: 3px 3px 0 0;
}

.register-form-container fieldset {
  border: none;
}

.input-wrapper {
  margin: 1.5em auto;
  width: 80%;
  text-align: left;
}

.input-wrapper.role {
  text-align: center;
  margin-bottom: 1.5em;
}

.input-wrapper.role label {
  display: inline-block;
  margin-right: 20px;
  color: #C5C6C8;
}

.input-wrapper label {
  display: block;
  margin-bottom: 0.5em;
}

.input-wrapper input[type="text"],
.input-wrapper input[type="email"],
.input-wrapper input[type="password"] {
  width: 100%;
  line-height: 2;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #FC7148;
  padding: .6em .5em;
  outline: 0;
  color: #9EA2AB;
  margin-bottom: 1.5em;
}

.input-wrapper input::placeholder {
  color: #9EA2AB;
}

button {
  outline: 0;
  font-size: 1em;
  letter-spacing: 0.1em;
  background-color: #FC7148;
  color: #fff;
  border: none;
  border-radius: 3px;
  width: 80%;
  padding: 1em 0;
  margin: 1.5em auto;
  display: block;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

button:hover {
  background-color: #e65342;
}

.form-footer {
  margin-top: 1em;
  font-size: 0.9em;
}

.form-footer button {
  background-color: transparent;
  color: #FC7148;
  border: 1px solid #FC7148;
  padding: 0.5em 1em;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.form-footer button:hover {
  background-color: #FC7148;
  color: #fff;
}

.form-footer a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
}

.form-footer a:hover {
  border-bottom: 1px dotted #8c8c8c;
}
