<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
	<script th:inline="javascript">
        // メッセージ変数をJavaScriptに渡す
        var message = /*[[${message}]]*/ null; //　登録完了
        var error = /*[[${param.error}]]*/ false; // 間違い
        var logoutMessage = /*[[${logoutMessage}]]*/ false;
    </script>
    <script src="/js/login.js"></script>
</head>
<body>
	<div id="login" class="login-form-container">
        <header>LOGIN</header>
        <fieldset>
            <form th:action="@{/login}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div class="input-wrapper">
                	<!-- Spring Securityのデフォルト設定でusernameを使用 -->      	
                    <input type="text" id="username" name="username" placeholder="your@email.com" required/>
                </div>
                <div class="input-wrapper">
                	<!-- Spring Securityのデフォルト設定でpasswordを使用 -->
                    <input type="password" id="password" name="password" placeholder="password" required/>
                </div>
                <button type="submit" id="login-button">LOGIN</button>
            </form>
        </fieldset>
        <div class="form-footer">
            <p><a th:href="@{/register}">Create an account</a></p>
            <p><a th:href="@{/forgot}">Forgot password?</a></p>
        </div>
    </div>
</body>
</html>
